# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kushagra\Desktop\EPFL_Sem2\Database_Systems\IdeaProjects\Project-2-kshah\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
